---
---
 <h2 style="font-size: 2rem; margin-bottom: 1rem; color: #1f2937; text-align: center;">Nuestros Clientes</h2>
  
<section id="clientes" style="background: rgb(255, 255, 255); padding: 4rem 1rem;">
<div
    style="
      display: flex;
      justify-content: center;
      gap: 4rem;
      flex-wrap: wrap;
      align-items: center;
    "
  >
    <img src="/img/logos/hamburgo.png" alt="hamburgo" style="height: 70px; transition: transform 0.3s ease;" />
    <img src="/img/logos/socoepa.png" alt="socoepa" style="height: 70px; transition: transform 0.3s ease;" />
    <img src="/img/logos/mocat.svg" alt="mocat" style="height: 70px; transition: transform 0.3s ease;" />
    <img src="/img/logos/esssi.png" alt="esssi" style="height: 70px; transition: transform 0.3s ease;" />
  </div>
</section>

<style>
  #clientes img:hover {
  transform: scale(1.1) rotate(8deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
#clientes img {
  border-radius: 0.2rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 70px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform;
}


</style>
